<h1> hello </h1>

<%= form_tag "/contacts", class: "form-horizontal", method: :post do%>
  <div class="form-group">

  <%= label_tag :first_name, "First name", class: "col-sm-2 control-label" %>
  <%= text_field_tag :first_name, "", class: "col-sm-10" %>
    
  </div>

  <div class="form-group">

  <%= label_tag :middle_name, "Middle name", class: "col-sm-2 control-label" %>
  <%= text_field_tag :middle_name, "", class: "col-sm-10" %>
    
  </div>

  <div class="form-group">
   
  <%= label_tag :last_name, "Last name", class: "col-sm-2 control-label" %>
  <%= text_field_tag :last_name, "", class: "col-sm-10" %>
 


  </div>
  <div class="form-group">
 
  <%= label_tag :email, "Email", class: "col-sm-2 control-label"  %>
  <%= text_field_tag :email, "", class: "col-sm-10" %>


  </div>
  <div class="form-group">
  <%= label_tag :phone, "Phone",class: "col-sm-2 control-label"  %>
  <%= text_field_tag :phone, "", class: "col-sm-10" %>
  </div>

    </div>
  <div class="form-group">
  <%=  label_tag :address, "Address",class: "col-sm-2 control-label"  %>
  <%= text_field_tag :address, "", class: "col-sm-10" %>
  </div>
     <div class="form-group">
  <%= label_tag :bio, "Bio", class: "col-sm-2 control-label"  %>
  <%= text_field_tag :bio, "", class: "col-sm-10" %>
  </div>
    <div class="form-group">

    <div class="col-sm-offset-2 col-sm-10">
  <%= submit_tag "Sumbit info" %>    
  </div>
  </div>

<% end %>
