<h1>
  <%= @contact.first_name %> <%= @contact.middle_name %> <%= @contact.last_name %> 
</h1>
<h4>
<%= @contact.show_groups %>
</h4>
<p>
  <%= @contact.email %> 
</p>
<p>
  <%= @contact.phone %> 
</p>
<p>
  <%= @contact.bio %> 

</p>

<p>&nbsp;</p>
<p><a href="/contacts/<%=@contact.id%>/edit">Edit this contact</a></p>
<%= link_to "Delete this contact", "/contacts/#{@contact.id}", method: :delete %>
<!--
method: :delete points to the route. 
The route points to =>contacts#destroy
That points to the method in the controller.
-->