<h1>
<%= @contact.first_name %> <%= @contact.last_name %> 
</h1>
<p>
<%= @contact.email %> 
</p>
<p>
<%= @contact.phone %> 
</p>

<p>&nbsp;</p>
<p><a href="/contacts/<%=@contact.id%>/edit">Edit this contact</a></p>
<%= link_to "Delete this contact", "/contacts/#{@contact.id}", method: :delete %>