<!DOCTYPE html>
<html>
<head>
  <title>ContactApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p><a href="/contacts">Home</a> | 
<a href="/contacts/new">Enter New Contact</a> |
<% if current_user == nil %>
<a href="/users/sign_up">Sign Up</a> |
<a href="/users/sign_in">Log In</a> |

<% else %>
<%= link_to "Log Out", "/users/sign_out", method: :delete %> |
<% end %>
</p>
<h3>Groups:</h3> 
<h4> 
<% Category.all.each do |category|%>
  <a href="/contacts?category=<%= category.name %>"><%= category.name %></a> |
<% end %>
</h4>
<% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
    <%= message.html_safe %>  
  </div>
<% end %>
<%= yield %>

</body>
</html>
